{{>sidenav/sidenav}}
<p>COMMUNITY</p>
<div id="test"></div>
<div id="songs"></div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/community.js"></script>