<!-- SideNav Slideout -->
<a href="#" data-target="slide-out" class="sidenav-trigger">
  <!-- Menu Icon -->
  <div class="hamburger">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</a>

<!-- SideNav Content -->
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <p for="#name">Jane Doe</p>
    </div>
  </li>
  {{!-- Divider --}}
  <li><div class="divider"></div></li>
  <li><a class="waves-effect"href="#!">My Account</a></li>
  <li><a class="waves-effect"href="#!">My Community</a></li>
  <div>
    <br><br><br>
  </div>
  <li><a class="waves-effect"href="#!">Happy Playlist</a></li>
  <li><a class="waves-effect"href="#!">Sad Playlist</a></li>
  <li><a class="waves-effect"href="#!">Mad Playlist</a></li>
  {{!-- FIND BETTER SOLUTION --}}
  <div>
    <br><br><br><br><br>
  </div>
  <li>
		<a class="waves-effect waves-light modal-trigger login" href="#modal2">Login</a>
	</li>
  <li>
    <a class="waves-effect waves-light modal-trigger" href="#modal1">Create Account</a>
  </li>
</ul>
{{>createAccount/createAccount}}
{{>login/login}}