<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Create an Account</h4>

        <!-- Create an Account Form -->
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="firstName" type="text" class="validate">
                        <label for="last_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="lastName" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="username" class="materialize-textarea" data-length="15"></textarea>
                        <label for="textarea2">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password2" type="password" class="validate">
                        <label for="password">Confirm Password</label>
                    </div>
                </div>
                <button class="modal-close waves-effect btn-flat btn" id="createAccount"> Create</button>
            </form>
        </div>
    </div>
</div>