.list-group-item {
  line-height: 2.5;
}
/* Menu Icon */
.hamburger {
  display: inline-block;
  cursor: pointer;
}
/* Bars for the Menu Icon */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #008B8B;
  margin: 6px 0;
  transition: 0.4s;
}
.searchForm{
  padding: 65px;
  border-style: double;
  border-color: #008B8B;
  border-width: 10px;
}
#modal1, #modal2{
  border-style: solid;
  border-color: #008B8B;
  border-width: 3px;
}
.songnameH{
  color:black;
  border-bottom: 3px solid #008B8B;
  background-color: rgb(227, 231, 235);
}
.songAdderbtn, .btn{
  margin: 5px;
}